.carousel {
    position: relative
}

.carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: ""
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .carousel-item {
        transition: none
    }
}

.carousel-item-next,.carousel-item-prev,.carousel-item.active {
    display: block
}

.active.carousel-item-right,.carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.active.carousel-item-left,.carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none
}

.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
}

.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: 0s .6s opacity
}

@media (prefers-reduced-motion:reduce) {
    .carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right {
        transition: none
    }
}

.carousel-control-next,.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease
}

@media (prefers-reduced-motion:reduce) {
    .carousel-control-next,.carousel-control-prev {
        transition: none
    }
}

.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-indicators {
    /*position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;*/
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 10px;
    list-style: none;
}


.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    /*background-color: rgba(255,255,255,.5);*/
    background-color: pink;
    opacity: .5;
    transition: opacity .6s ease;
    cursor: pointer;
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  opacity: 0.5;
  content: "";
}
.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

@media (prefers-reduced-motion:reduce) {
    .carousel-indicators li {
        transition: none
    }
}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

/* pagination custom css */
/*
.pagination_design ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: 0px;
}


.pagination_design ul li {
    display: inline-block;
    width: 24%;
    text-align: center;
}
.pagination_design ol li {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-right:0px;
}

.pagination_count {
    background: #fff;
    width: fit-content;
    display: inherit;
    padding: 0px 12px;
    font-size: 12px;
    border: 1px solid #767676;
    z-index: 9999;
    position: relative;
}
.pagination_design {
    padding-top: 3px;
    position: relative;
}
.pagination_design ul::after {
    content: "";
    position: absolute;
    background: #767676;
    height: 1px;
    width: 74%;
    left: 12%;
    margin-left: auto;
    margin-right: auto;
    top: 26px;
    z-index: 000;
}
.pagination_design ol::after {
    content: "";
    position: absolute;
    background: #767676;
    height: 1px;
    width: 80%;
    left: 12%;
    margin-left: auto;
    margin-right: auto;
    top: 26px;
    z-index: 0;
}
.carousel-indicators{
    margin-right: 0%;
    margin-left: 0%;
    padding: 0;
    list-style-type: none;
    width: 100%;
    position: initial;
    display: block;
}
.carousel-indicators li{
    text-indent: 0;
    background:none;
}

.carousel-indicators li .pagination_count{
    display:none;
    opacity:0;
}    
.carousel-indicators .active .pagination_count{
    display:inherit;
    opacity:1;
}
.carousel-indicators .active .prem{
    display:none!important;
}
.carousel-indicators li .prem{
    display:inherit!important;
}
*/


/* item */

.email-box {
    border: 1px solid #767676;
    /*padding: 8px;*/
    font-size: 10px;
    height: 230px;
    width: 100%;
}

.email-box .email-header {
    border-bottom: 1px solid black;
    padding: 8px;
}

.email-box .email-header span{
    display: block;
}

.email-box .email-header span:first-child{
    margin-bottom: 5px;
}

.email-box .email-content {
    padding: 5px;
    text-align: center;
}
.email-box .email-content img{
    width: 30%;
    max-height: 100px;
    overflow: hidden;
    vertical-align: middle;
    height: 100px;
}

.email-box .email-footer {
    padding: 8px;
    border-top: 1px solid black;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}