@{
    Layout = "";
}

@using Microsoft.Extensions.Options;
@inject IOptions<OktaSettings> oktaSettings;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "PCC Sign In";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="none" />
    <link rel="SHORTCUT ICON" href="images/favicon.ico">
    <title>PCC Sign In</title>
    @*{{{SignInWidgetResources}}}*@

    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet" />
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-theme.css" type="text/css" rel="stylesheet" />

    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <style>
        /* ---------------------- BASE ------------------------*/
        *,
        *:before,
        *:after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #000000;
        }

        .container {
            font-family: 'Lato', 'Arial', sans-serif;
            font-size: 1em;
            font-weight: 300;
            line-height: 1.5;
            text-rendering: optimizeLegibility;
            display:flex;
            width: 100%;
            margin: auto;
            position: relative;
            /* max-width: 1280px; */
        }


        

        h1,
        h2,
        h3 {
            font-weight: 300;
        }

        h1 {
            font-size: 240%;
            word-spacing: 0.3rem;
            letter-spacing: 0.1rem;
            margin: 0.3em 0;
            line-height: 1;
        }

        h2 {
            font-size: 100%;
        }

        p {
            font-weight: 100;
        }

        /* ---------------------- LOGIN ------------------------*/

        .container header {
            position: absolute;
            top: 2em;
            left: 5em;
        }

        header h1 {
            font-weight: 800;
            font-size: 240%;
            word-spacing: 0.2rem;
            letter-spacing: 0.07rem;
            margin: 0.3em 0;
            color: black;
        }

        .content {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .information-section {
            min-height: 100vh;
            color: black;
            flex-direction: column;
            text-align: left;
            width: 70%;
            padding: 1em;
            background-size: cover;
            background-position:  initial;
            background-attachment: fixed;
        }

        .information {
            margin-top: 5%;
        }

        .information-section h1 {
        color: black;
        }

        .information-section h2 {
            font-weight: 600;
        }

        .information-section p {
            font-weight: 200;
        }

        .information-section ul {
            list-style: none;
            padding-top: 0.5em;
        }

        .information-section li {
            margin-bottom: 1em;
        }

        .login-section {
            min-height: 100vh;
            background: white;
            width: 50%;
            padding: 5em;
            max-width: 600px;
        }

        .col {
            flex: 1;
        }

        /*---------------------------- OKTA SIGN IN WIDGET OVERRIDES -----------------------*/

        #okta-sign-in.auth-container.main-container {
            background-color: white;
            border: 0;
            font-family: 'Lato', 'Arial', sans-serif;
        }

        #okta-sign-in.auth-container .okta-sign-in-header {
            border: 0;
        }

        #okta-sign-in.auth-container input[type="submit"] {
            background: #f45224;
            color: black;
            border: 0;
        }

        #okta-sign-in.auth-container .registration-link,
        #okta-sign-in.auth-container .auth-footer
        {
            color: #f45224;
        }

        #okta-sign-in.auth-container .o-form-input-name-remember {
            display: none;
        }

        #okta-sign-in.auth-container .o-form-head {
            color: #777;
            font-weight: bold;
        }

        .login-section input::placeholder {
            opacity: 0.5
        }

        .login-section input {
            color: #777;
        }

        .login-section input:-webkit-autofill {
            -webkit-text-fill-color: #777;
            color: #777
        }

        .login-section #okta-sign-in .auth-org-logo {
            display: none;
        }

        .login-section #okta-sign-in a.help:active,
        .login-section #okta-sign-in a.help:link,
        .login-section #okta-sign-in a.help:visited {
            color: #f45224;
        }

        .login-section #okta-sign-in {
            margin-top: 0;
            min-height: 0;
        }
    </style>
</head>
<body>
    @*<div id="boxes">
            <div id="column1">
                <img src="~/images/PCC-Login Screen.png" style='height: 100%; width: 100%; object-fit: contain' />
            </div>
            <div id="column2">
                <div id="okta-login-container">
                    <script type="text/javascript">
                var oktaSignIn = new oktaSignIn({
                    baseUrl: '@oktaSettings.Value.OktaDomain',
                    clientId: '0oaivc8tjgoSec5X20h7',
                    authParams: {
                        issuer: '@oktaSettings.Value.OktaDomain' + '/oauth2/default',
                        responseType: ['token', 'id_token'],
                        display: 'page'
                    }
                });
                if (oktaSignIn.token.hasTokensInUrl()) {
                    oktaSignIn.token.parseTokensFromUrl(
                        function success(res) {
                            var accessToken = res[0];
                            var idToken = res[1];

                            console.log('Hello, ' + idToken.claims.email);

                            oktaSignIn.tokenManager.add('accessToken', accessToken);
                            oktaSignIn.tokenManager.add('idToken', idToken);

                            window.location.hash = '';
                        },
                        function eror(err) {
                            console.error(err);
                        }
                    );
                } else {
                    oktaSignIn.session.get(function (res) {
                        if (res.status === 'ACTIVE') {
                            console.log('Welcome back, ' + res.login);
                            return;
                        }
                        oktaSignIn.renderEl(
                            {
                                el: '#okta-login-container'
                            },
                            function succss(res) {

                            },
                            function error(err) {
                                console.error(err);
                            }

                        );
                    });
                }
                    </script>
                </div>
            </div>
        </div>*@

    <main role="main" class="container" style="background-image: url('https://i.imgur.com/6IQDYI1.jpg')">
        <header><h1>PCC Sign In</h1></header>
        <section class="col login-section"> <div id="okta-login-container">
                                                <script type="text/javascript">
                var oktaSignIn = new oktaSignIn({
                    baseUrl: '@oktaSettings.Value.OktaDomain',
                    clientId: '0oaivc8tjgoSec5X20h7',
                    authParams: {
                        issuer: '@oktaSettings.Value.OktaDomain' + '/oauth2/default',
                        responseType: ['token', 'id_token'],
                        display: 'page'
                    }
                });
                if (oktaSignIn.token.hasTokensInUrl()) {
                    oktaSignIn.token.parseTokensFromUrl(
                        function success(res) {
                            var accessToken = res[0];
                            var idToken = res[1];

                            console.log('Hello, ' + idToken.claims.email);

                            oktaSignIn.tokenManager.add('accessToken', accessToken);
                            oktaSignIn.tokenManager.add('idToken', idToken);

                            window.location.hash = '';
                        },
                        function eror(err) {
                            console.error(err);
                        }
                    );
                } else {
                    oktaSignIn.session.get(function (res) {
                        if (res.status === 'ACTIVE') {
                            console.log('Welcome back, ' + res.login);
                            return;
                        }
                        oktaSignIn.renderEl(
                            {
                                el: '#okta-login-container'
                            },
                            function succss(res) {

                            },
                            function error(err) {
                                console.error(err);
                            }

                        );
                    });
                }
                                                </script>
               </div> </section>
        <section class="col information-section">
            <img src="~/images/PCC-Login Screen.png" style='height: 100%; width: 100%; object-fit: contain' />
        </section>
    </main>



    {{{OktaUtil}}}


    <script type="text/javascript">
        // "config" object contains default widget configuration
        // with any custom overrides defined in your admin settings.
        var config = {{{config}}};
        config.features.registration = true;
        config.registration = {
          parseSchema: function(schema, onSuccess, onFailure) {
             console.log('parseSchema');
             gtag('event', 'Start Sign-Up', {'event_category': 'Login Atko'});
             onSuccess(schema);
          },
          preSubmit: function (postData, onSuccess, onFailure) {
             console.log('preSubmit');
             gtag('event', 'Process Sign-Up', {'event_category': 'Login Atko'});
             onSuccess(postData);
          },
          postSubmit: function (response, onSuccess, onFailure) {
             console.log('postSubmit');
             gtag('event', 'User Created', {'event_category': 'Login Atko'});
             onSuccess(response);
          }
    };

           var oktaSignIn = new OktaSignIn(config);
        oktaSignIn.renderEl({ el: '#okta-login-container' },
            OktaUtil.completeLogin,
            function(error) {
                // Logs errors that occur when configuring the widget.
                // Remove or replace this with your own custom error handler.
                console.log(error.message, error);
            }
        );
    </script>



</body>
</html>
