@model SubmittalViewModel

@{
    ViewData["Title"] = "Submittal Details";
}


@section styles {

    <link rel="stylesheet" href="~/css/detail-page.css" />
    <link rel="stylesheet" href="~/css/carousel.css" />
    <link rel="stylesheet" href="~/css/submittal-details/tapstrip.css" />
    <link rel="stylesheet" href="~/css/switch.css" />
    <link rel="stylesheet" href="~/css/submittal-details/custom.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
}
<!-- <link href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.min.css" rel="stylesheet"> -->
<div class="page-header">
    <h3>Submittal - @Model.Sub.SubmittalID</h3>
    <div class="doc-button" title="Upload Document">
        <svg class="icon">
            <use xlink:href="/images/icons.svg#paperclip"></use>
        </svg>
    </div>
    <div class="back-button" title="Back To List">
        <svg class="icon">
            <use xlink:href="/images/icons.svg#angle-double-left"></use>
        </svg>
        <span>Back To List</span>
    </div>
</div>

<div class="project-info-container">
    <div class="project-details">

        <div class="row">
            <div class="form-element half">
                <div class="row">
                    <div class="form-element two-thirds">
                        <label for="project">Project: <abbr title="required">*</abbr></label>
                        <input id="project" type="text" name="project">
                    </div>
                    <div class="form-element one-thirds">
                        <label for="classification">Classification: <abbr title="required">*</abbr></label>
                        <input id="classification" type="text" name="classification">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="form-element two-thirds">
                        <div class="row">
                            <div class="form-element small">
                                <label for="category">Category: <abbr title="required">*</abbr></label>
                                <input id="category" type="text" name="category">
                            </div>
                            <div class="form-element small" style="margin-right: 0px;">
                                <label for="submittal-published">Published: <abbr title="required">*</abbr></label><!-- Submittal Published -->
                                <input id="submittal-published" type="text" name="submittal-published">
                            </div>
                        </div>
                    </div>
                    <div class="form-element one-thirds">
                        <label for="date-due">Date Due: <abbr title="required">*</abbr></label>
                        <input id="date-due" type="text" name="date-due">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="form-element two-thirds">
                        <div class="row">
                            <div class="form-element small">
                                <label for="specification">Specification: <abbr title="required">*</abbr></label>
                                <input id="specification" type="text" name="category">
                            </div>
                            <div class="form-element small" style="margin-right: 0px;">
                                <label for="from-name">From Name: <abbr title="required">*</abbr></label>
                                <input id="from-name" type="text" name="from-name">
                            </div>
                        </div>
                    </div>
                    <div class="form-element one-thirds">
                        <label for="from-company">From Company: <abbr title="required">*</abbr></label>
                        <input id="from-company" type="text" name="from-company">
                    </div>
                </div>
            </div>
            <div class="form-element half">
                <div class="row">
                    <div class="form-element two-thirds">
                        <label for="summary-description">Summary Description: <abbr title="required">*</abbr></label>
                        <input id="summary-description" type="text" name="summary-description">
                    </div>
                    <div class="form-element one-thirds">
                        <label for="sender-submittal">Sender's Submittal #: <abbr title="required">*</abbr></label>
                        <input id="sender-submittal" type="text" name="sender-submittal">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="form-element">
                        <label for="description">Description: <abbr title="required">*</abbr></label>
                        <textarea id="description" type="text" name="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-action">
                        <button class="btn-1" id="desc-attach-add-button">+</button>
                    </div>
                    <div id="description_tabstrip" class="tapstrip">
                        <ul class="tapstrip-buttons"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="window" style="display: none;">
            <div class="row" style="margin-left: 0px; margin-top: 5px;">
                <div class="form-element">
                    <label for="add-activity">Activity: <abbr title="required">*</abbr></label>
                    <input id="add-activity" type="text" name="add-activity">
                </div>
                <div class="form-element">
                    <label for="add-from-name">From Name: <abbr title="required">*</abbr></label>
                    <input id="add-from-name" type="text" name="add-from-name">
                </div>

                <div class="form-element ">
                    <label for="add-from-company">From Company: <abbr title="required">*</abbr></label>
                    <input id="add-from-company" type="text" name="add-from-company">
                </div>

                <div class="form-element">
                    <label for="add-date-sent">Date Sent: <abbr title="required">*</abbr></label>
                    <input id="add-date-sent" type="text" name="add-date-sent">
                </div>

                <div class="form-element ">
                </div>

                <div class="form-element">
                    <label for="add-to-name">To Name: <abbr title="required">*</abbr></label>
                    <input id="add-to-name" type="text" name="add-to-name">
                </div>

                <div class="form-element ">
                    <label for="add-to-company">To Company: <abbr title="required">*</abbr></label>
                    <input id="add-to-company" type="text" name="add-to-company">
                </div>

                <div class="form-element ">
                    <label for="add-date-received">Date Received: <abbr title="required">*</abbr></label>
                    <input id="add-date-received" type="text" name="add-date-received">
                </div>


            </div>
            <div class="row button-bar" style="margin-left: 0px; margin-top: 5px;">

                <button id="log-save-button" class="btn yellow">Save</button>
                <button id="log-cancel-button" class="btn gray">Cancel</button>

            </div>
        </div>

        <div class="row" style="margin-bottom: 0px;">
            <div class="form-element distributionBox">


                <div class="row" style="display: block;">
                    <span style="float: left; padding-right: 10px; color: #666; font-size: 0.9em;
                        font-size: 14px;
                        font-weight: 200;
                        color: #989898;
                        font-family: 'Lato', sans-serif;">Distribution Log:</span>
                    <a href="javascript:;" id="distribution-add-button">Add</a>
                    <span class="dist-expand-btn">
                        <i class="fa fa-angle-double-right" style="font-size: 14px;font-weight: 800;color: #3ca6bc;"></i>
                    </span>
                    <span class="dist-reduce-btn">
                        <i class="fa fa-angle-double-left" style="font-size: 14px;font-weight: 800;color: #3ca6bc;"></i>
                    </span>`
                </div>


                <div class="row" id="logs-grid">

                </div>
                <div class="row">
                    <div class="form-element">
                        <label for="attachments">Attachments: <abbr title="required">*</abbr></label>
                        <input id="attachments" type="text" name="attachments">
                    </div>
                    <div class="form-element" style="margin-right: 0px">
                        <label for="status">Status: <abbr title="required">*</abbr></label>
                        <input id="status" type="text" name="status">
                    </div>
                </div>

            </div>
            <div class="form-element recommendationBox">
                <label>Recommendation: </label>
                <div class="row recommendationRow">
                    <div class="form-element half">
                        <div class="row">
                            <div class="form-element">
                                <label for="rec-to-name">To Name: </label>
                                <input id="rec-to-name" type="text" name="rec-to-name">
                            </div>
                            <div class="form-element">
                                <label for="rec-to-company">To Company: </label>
                                <input id="rec-to-company" type="text" name="rec-to-company">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="form-element">
                                <label for="rev-name">Rvr Name: </label>
                                <input id="rev-name" type="text" name="rev-name">
                            </div>
                            <div class="form-element">
                                <label for="rev-company">Rvr Company: </label>
                                <input id="rev-company" type="text" name="rev-company">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="form-element">
                                <label for="reviewed-date">Date Reviewed: </label>
                                <input id="reviewed-date" type="text" name="reviewed-date">
                            </div>
                            <div class="form-element">
                                <label for="reviewed-date-sent">Date Sent: </label>
                                <input id="reviewed-date-sent" type="text" name="reviewed-date-sent">
                            </div>
                        </div>
                    </div>
                    <div class="form-element half">
                        <div class="row">
                            <div class="form-element two-thirds">
                                <label for="rec-summary">Summary: </label><!-- Recommendation Summary -->
                                <input id="rec-summary" type="text" name="rec-summary">
                            </div>
                            <div class="form-element one-thirds">
                                <label for="reviewer-submittal-no">Rvr Submittal: </label>
                                <input id="reviewer-submittal-no" type="text" name="reviewer-submittal-no">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="form-element">
                                <label for="rec-detail">Recommendation Detail: </label>
                                <textarea id="rec-detail" type="text" name="rec-detail" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-action">
                                <button class="btn-1" id="rec-attach-add-button">+</button>
                            </div>
                            <div id="recommend_tabstrip" class="tabstrip">
                                <ul class="tapstrip-buttons"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--
    <div class="row" style="margin-bottom: 0px;">

        <div class="form-element">

        </div>
        <div class="form-element">
            <div class="row button-bar">
                <button id="save-button" class="btn yellow">Save</button>
                <button id="cancel-button" class="btn gray">Cancel</button>
            </div>
        </div>
    </div>
        -->
        <div id="detail-right-border"></div>
        <div id="detail-right-color-box"></div>
    </div>

    <div class="project-notes" style="position: relative;">
        <div class="note-block">
            <h4>Progress Notes</h4>
            <textarea id="new-note" type="text" name="new-note" rows="3"></textarea>
            <button class="btn" id="add-note-button">Add Note</button>
            <div class="previous-notes">
                
            </div>
        </div>
        <div class="row" style="margin-bottom: 0px; border: 0px; height: 35px; margin-top: 10px; position: absolute; top: calc(100% - 57px);">
            <div class="form-element" style="position: relative;">
                <div class="row button-bar">
                    <button id="save-button" class="btn darkgreen">Save</button>
                    <button id="cancel-button" class="btn gray">Cancel</button>
                </div>
            </div>
            <div id="button-top-border"></div>
            <div id="button-bottom-border"></div>
            <div id="button-right-border"></div>
        </div>
    </div>
</div>

<div class="project-items-container">
    <div class="container--tabs">
        <ul class="nav-tabs">
            <li class="active tooltip">
                <a href="#tab-documents">Documents</a>
                <span class="tooltiptext tooltip-top">Emails, Attachments & Correspondence</span>
            </li>
            <li><a href="#tab-project-items">Project Items</a></li>
            <li><a href="#tab-schedule">Schedule</a></li>
            <li><a href="#tab-team">Team</a></li>
        </ul>
        <div class="tab-content">
            <div id="emailBox" style="display: none;">
                <div class="top-area">
                </div>
                <div id="emailBody">
                </div>
            </div>
            <div id="tab-documents" class="tab-pane active">
                <div class="inner_body">
                    <div id="switchBox">
                        Table <input type="checkbox" id="switch" /> &nbsp; Card
                    </div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">

                        </div>
                        <ol class="carousel-indicators"></ol>

                        <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>-->
                    </div>
                    <div id="emailBox" style="display: none;">
                        <div class="top-area">
                        </div>
                        <div id="emailBody">

                        </div>
                    </div>
                    <div id="emailGridBox" style="display: none;">
                        <div id="emails-grid">

                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-project-items" class="tab-pane">
                <div class="project-components-container">
                    <div class="project-components">
                        <ul>
                            <li>
                                <a href="estimate">
                                    <span>
                                        <span id="head_estimate">Estimate</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="estimate-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="budget" class="open">
                                    <span>
                                        <span id="head_budget">Budget</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="budget-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="accounts">
                                    <span>
                                        <span id="head_accounts">Accounts</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="deposit-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="quotes">
                                    <span>
                                        <span id="head_quotes">Quotes</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="proposal-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="contracts">
                                    <span>
                                        <span id="head_contracts">Contracts</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="contract-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="pos">
                                    <span>
                                        <span id="head_pos">Purchase Orders</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="pos-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="cos">
                                    <span>
                                        <span id="head_cos">Change Orders</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="co-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="submittals">
                                    <span>
                                        <span id="head_subs">Submittals</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="subs-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="invoices">
                                    <span>
                                        <span id="head_invoice">Invoices</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="invoice-grid"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="rfis">
                                    <span>
                                        <span id="head_rfi">RFIs</span>
                                    </span>
                                    <span>
                                        <svg class="expandable-list-icon">
                                            <use xlink:href="/images/icons.svg#angle-right"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="component-content">
                                    <div class="component-table">
                                        <div id="rfi-grid"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="project-preview">
                        <div class="title">Financial Summary</div>
                        <div class="items">
                            <div class="row">
                                <div class="property">Budget</div>
                                <div class="value">$1,300,000.00</div>
                            </div>
                            <div class="row">
                                <div class="property">Committed</div>
                                <div class="value">$678,000.00</div>
                            </div>
                            <div class="row">
                                <div class="property">Paid</div>
                                <div class="value">$507,000.00</div>
                            </div>
                            <div class="spacer"></div>
                            <div class="row">
                                <div class="property">Start Date</div>
                                <div class="value">04/04/2019</div>
                            </div>
                            <div class="row">
                                <div class="property">End Date</div>
                                <div class="value">05/19/2019</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-schedule" class="tab-pane">
                <h3>Coming soon...</h3>
            </div>
            <div id="tab-team" class="tab-pane">
                <h3>Coming soon...</h3>
                <div class="team-member-container"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/lib/bootstrap/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        $(".recommendationRow .half:first-child").show();
        $(".dist-reduce-btn").hide();
    });


</script>
@section scripts {
    <script id="noDataTemplate" type="text/x-kendo-tmpl">
        <div>
            No data found. Do you want to add new item - '#: instance.text() #' ?
        </div>
        <br />
        <button id="new-contact-button" name="new-contact-button" class="new-contact-button">Add new item</button>
    </script>

    <script type="module" asp-append-version="true">
        import { SubmittalDetailsItem } from "/js/submittals.js"
        new SubmittalDetailsItem(@Html.Raw(Json.Serialize(Model)));
    </script>

}
